@import "inc";

h1 {

    @extend .main-text;
    color: $secondary-color;
    font-weight: bold;
    padding: 15px 5px 5px 5px;
    border-bottom: 1px solid $secondary-color;
}

ul {

    float: right;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 20vw;
    height: 100vh;
    background-color: $primary-color;

    li {

    	@extend .main-text;
    	color: $secondary-color;
    	border-bottom: 1px solid $secondary-color;
    	font-size: 13px;
    	@include transition(0.4s);
      padding: 10px;
      overflow-wrap: break-word;

    	&:hover {

    		background-color: $secondary-color;
	      color: $primary-color;
    	}

    	&.selected {

    		@extend :hover;
    	}

    }

}

button
{
	@extend .main-text;
    background-color: $primary-color;
    font-size: 18px;
    padding: 10px 15.3px;
    color: $secondary-color;
    border: none;
    @include transition(0.4s);

    &:hover {

        background-color: $secondary-color;
        color: $primary-color;
        cursor: pointer;
    }
}

div {

  &.extras {

    position: fixed;
  }
}

a{

    @extend .main-text;
    text-decoration: none;
    outline: 0;
    border: 0;
    @include transition(0.4s);

    &.extras {

      display: block;
	    margin: 30px 10px;
	    width: 150px;

    }

    &.bottom {

    	@extend .extras;
    	display: block;
    	margin: 10px;
    	position: fixed;
	    top: 94vh;
	    font-weight: bold;
	    width: initial;
    }

    &:hover {

      color: $hover-color;
    }
}

body {

    margin: 0;
}

img {

  &.main {

    display: block;
    margin: auto;
    padding-top: 100px;

  }
}
